<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Template</title>
</head>

<body>
    <section class="image">


        <img id="a" src="img/1.jpg" alt="wall" onmouseover="showImage(this)">


        <img id="b" src="img/2.jpg" alt="wall" onmouseover="showImage(this)">


        <img id=" c " src="img/3.jpg " alt="wall " onmouseover="showImage(this)">




        <img id=" d " src="img/4.jpg " alt="wall " onmouseover="showImage(this)">



        <img id="e " src="img/5.jpg " alt="wall " onmouseover="showImage(this)">


        <img id="f " src="img/6.jpg " alt="wall " onmouseover="showImage(this)">




        <img id="g " src="img/7.jpg " alt="wall " onmouseover="showImage(this)">


        <img id="h " src="img/8.jpg " alt="wall " onmouseover="showImage(this)">


        <img id="i " src="img/9.jpg " alt="wall " onmouseover="showImage(this)">




        <img id="j " src="img/10.jpg " alt="wall " onmouseover="showImage(this)">


        <img id="k " src="img/11.jpg " alt="wall " onmouseover="showImage(this)">


        <img id="l " src="img/12.jpg " alt="wall " onmouseover="showImage(this)">





    </section>

    <script src="JS/script.js "></script>
</body>

</html>