<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Template</title>
</head>

<body>
    <header>
        <h1 class="heading">Hover background change template. </h1>
    </header>
    <section class="image">

        <img src="img/1.jpg" alt="wall" onmouseover="showImage(this)">
        <img src="img/2.jpg" alt="wall" onmouseover="showImage(this)">
        <img src="img/3.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/4.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/5.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/6.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/7.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/8.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/9.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/10.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/11.jpg " alt="wall " onmouseover="showImage(this)">
        <img src="img/12.jpg " alt="wall " onmouseover="showImage(this)">





    </section>

    <script src="JS/script.js "></script>
</body>

</html>