<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact form</title>
</head>

<body>
    <header>
        <h1>
            Contact Form
        </h1>
    </header>


    <div class="cform">
        <form action="mail.php" method="post">

            <div class="elements">
                <div>
                    <input type="text" name="Name" id="name" class="felement" placeholder="Name">
                </div>
                <div>

                    <input type="email" name="Email" id="email" class="felement" placeholder="Email">
                </div>
                <div>

                    <input type="textarea" name="Description" id="description" class="felement" placeholder="Description">
                </div>

                <div>
                    <input type="submit" value="Submit" id="submit-button"></div>
            </div>
        </form>

    </div>
    <p>
        NOTE: This form is only for testing.
    </p>
</body>

</html>