* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 9;
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

header {
    z-index: 13;
    text-align: center;
    margin-top: 20vh;
}

.heading {
    text-align: center;
    font-size: 4.2em;
    color: rgb(33, 224, 224);
    font-family: 'Shadows Into Light', cursive;
}

.image {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh 1vh;
    width: 90%;
    top: 40vh;
    left: 5%;
}

img {
    width: 50vh;
    height: 30vh;
    top: 50vh;
    left: 25vh;
    transition-duration: .5s;
    border-radius: 10px;
    border: solid 2px white;
    z-index: 10;
}

img:hover {
    z-index: 12;
    transition-duration: .5s;
    transform: scale(1.2);
}

@media(max-width :960px) {
    .image {
        grid-template-columns: repeat(2, 1fr);
    }
    body {
        background-size: contain;
        background-position: center;
    }
    .heading {
        font-size: 3.5em;
    }
}

@media(max-width :700px) {
    .image {
        grid-template-columns: repeat(1, 1fr);
    }
    body {
        background-size: contain;
        background-position: center;
    }
    .heading {
        font-size: 2em;
    }
}